/* body {
    margin: 60px auto;
    width: 70%;
} */
body {
    background-color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
  }
div.container {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
nav ul, nav.site-nav {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    text-align: end;
}
ul a {
    margin-left: 6px;
}
a {
    text-decoration: none;
    color: #185cda;
}
a:hover {
    text-decoration: underline;
}
a.page-link {
  text-decoration: none;
  color: #686c74da;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font:400 16px
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Site footer */

.site-footer {
    border-top: 1px solid #e8e8e8;
  }
  
  .footer-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -.5px;
    margin-bottom: 15px;
  }
  
  .site-footer .column { 
    margin-bottom: 15px; }
  
  .footer-col-1 {
    flex: 1;
  }
  .footer-col-2 {
    flex: 1;
  }
 
  .site-footer ul {     font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    text-align: center;}
  
  .site-footer li,
  .site-footer p {
    font-size: 15px;
    letter-spacing: -.3px;
    color: #828282;
  }
  
  .github-icon-svg,
  .twitter-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
  }

  .wrap-footer {
    max-width: 800px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
    display:flex;
    align-items: center;
    align-content: center;
  }

/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

    .footer-col-1 { width: 50%; }
  
    .footer-col-2 {
      width: 45%; /*fallback*/
      width: -webkit-calc(50% - 10px);
      width: -moz-calc(50% - 10px);
      width: -o-calc(50% - 10px);
      width: calc(50% - 10px);
      margin-right: 0;
    }
  
    .site-footer .column.footer-col-3 {
      width: auto;
      /* float: none; */
      clear: both;
    }
  
  }
  
  @media screen and (max-width: 600px) {
  
    .wrap { padding: 0 12px; }
  
    .site-nav {
      position: fixed;
      z-index: 10;
      top: 14px; right: 8px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid #e8e8e8;
    }
  
    .site-nav .menu-icon {
      display: block;
      font-size: 24px;
      color: #505050;
      float: right;
      width: 36px;
      text-align: center;
      line-height: 36px;
    }
  
    .site-nav .menu-icon svg { width: 18px; height: 16px; }
  
    .site-nav .trigger {
      clear: both;
      margin-bottom: 5px;
      display: none;
    }
  
    .site-nav:hover .trigger { display: block; }
  
    .site-nav .page-link {
      display: block;
      text-align: right;
      line-height: 1.25;
      padding: 5px 10px;
      margin: 0;
    }
  
    .post-header h1 { font-size: 36px; }
    .post-content h2 { font-size: 28px; }
    .post-content h3 { font-size: 22px; }
    .post-content h4 { font-size: 18px; }
    .post-content blockquote { padding-left: 10px; }
    .post-content ul,
    .post-content ol { padding-left: 10px; }
  
    .site-footer .column {
      clear: both;
      width: auto;
      margin: 0 0 15px; }
  
  }

