<!DOCTYPE html>
	<html>
		<head>
			<div class="wrap">
				<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
				<link rel="stylesheet" type="text/css" href="../css/main.css">
			</div>
		</head>

		<body>
			<div class="wrap">
				<nav class="site-nav">
					<div class="trigger">
						<ul>
							{% assign sorted_pages = site.pages | sort:"order" %}
							{% for page in sorted_pages %}
								{% if page.title == "CV" %}
								<a class="page-link" href="{{ page.cv_url | prepend: site.baseurl }}">{{ page.title }}</a>
								{% elsif page.title %}
								<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</nav>
			</div>

			<div class="wrap">
			
			{{ content }}
			
			</div><!-- /.container -->

			{% include footer.html %}
		</body>
	</html>