<!DOCTYPE html>
<html lang="en">

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
 
 <body>
    <section class="post-wrapper">
      <p class="post-date">{{ page.date }}</p>
    </section>
   
    <article class="post-content">
      {{content}}
    </article>
			<footer>
	    		<ul>
	        		<li><a href="mailto:sophie.kaleba@gmail.com">email</a></li>
				</ul>
			</footer>
  </body>

</html>
